body {
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  font-family: Arial;
}

.infobox {
  width: 22em;
  float: right;
  background-color: #f8f9fa;
  border-spacing: 3px;
  border: 1px solid #a2a9b1;
}
