.search-cover {
	width:100px;
	height:100%;
}

.search-flex-right {
	display: inline-flex;
	flex-grow: 1;
	flex-shrink: 0;
	justify-content: flex-end;
}

.search-results {
	width: 100%;
}

.search-info-table {
	width: 100%;
}


.search-info-cell {
	display: inline-table;
	white-space: nowrap;
	width: 1px;
}