body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.paragraph {
  padding: 8px;
  margin: 8px;
}

header {
  color:white;
  background-color: black;
  padding-left: 8px;
  margin-left: 8px;
}

h1 {
  margin-left: 8px;
}

#link {
  margin-left: 8px;
}

#header2 {
  margin-left: 8px;
}


footer {
  color: white;
  background-color: FireBrick;
}

.paragraph {
  display: inline-block;
}

.paragraph p {
  width: 70%;
}

#para2 {
  font-family: Calibri, sans-serif;
}

#plane {
  width: 30%;
  float: right;
  display: inline-block;
}

#unilink {
  color: cornflowerblue;
  text-decoration: none;
  margin-left: 8px;
}
#unilink:hover {
  color:darkslateblue;
}
#unilink:active {
  color:darkorchid;
}
#unilink:visited {
  color:midnightblue;
}

#videotest {
  margin: auto;
  display: block;
}

.video {
  background-color: black;
  margin: 0;
}
