/* Style properties for main content*/
body {
  margin:0;
  min-height: 100%;
}

main {
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
  min-height: 100%;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

/* Style properties for footer */
footer {
  position: fixed;
  display: block;
  bottom: 0;
  background-color: #111;
  color: #818181;
  width: 100%
}

.footer-wrapper {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.footer-copy {
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
  display: flex;
}
/* Style properties for nav bar*/
header {
  position: -webkit-sticky; /* Safari*/
  position: fixed;
  top: 0;
  display:block;
  width: 100%;
  height: 80px;
}

header button {
  padding: 8px 8px 8px 8px;
  color: #818181;
  transition: 0.3s;
  border-radius: 0;
  border-style: none;
  background-color: inherit;
  font-size: 20px;
}

header button:hover {
  color: #f1f1f1;
}

.header-wrapper {
  background-color: #111;
  display: flex;
  padding: 20px;
}

.header-flex-left {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.header-flex-logo {
  display: flex;
}

.header-flex-right {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
}

.logout-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top:60px;
  right: 50px;
}

/* Style properties for search bar */

.search-bar {
  position: fixed;
  width: 100%;
  top: 80px;
  display:block;
  background-color: pink;
  display: none;
}

.search-bar label {
  margin-right: 20px;
  color: #76595E;
}

.search-bar input {
  background-color: inherit;
  border-radius: 0;
  border-style: none;
  letter-spacing: 3.6px;
}

.search-form {
  width:100%;
}

.search-input {
  width:95%;
}

.search-bar input:focus {
  outline: none;
}

.search-wrapper {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 28px;
  padding-bottom: 28px;
}

/* Style properties for sidebar navigation */

.sidenav {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c1b1b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav button {
  padding: 8px 8px 8px 8px;
  color: #818181;
  transition: 0.3s;
  border-radius: 0;
  border-style: none;
  background-color: inherit;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.side-menu-links {
  margin-left: 1vw;
}

.side-menu-links a {
  color: inherit;
  text-decoration-line: none;
}

.sidenav-flex {
  position: absolute;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 1vw;
  top: 1vw;
}

.button-close-side-menu {
  font-size: 1vw;
}

/*Styling for search page*/

.search-cover {
  width:100px;
  height:100%;
}

.search-flex-right {
  display: inline-flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
}

.search-results {
  width: 100%;
}

.search-info-table {
  width: 100%;
}


.search-info-cell {
  display: inline-table;
  white-space: nowrap;
  width: 1px;
}

/*Styling for profile page*/

.profile-wrapper {
  margin-left: 100px;
  margin-right: 100px;
  border-top: solid;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
}

.profile-inner-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-wrap: wrap;
  border-left: solid;
  margin-top: 20px;
  padding-left: 20px;
}

.profile-left-col {
  flex-basis: 20%;
  margin-right: 20px;
  padding: 20px;
}

.profile-mid-col {
  flex-basis: 50%;
  margin-right: 20px;
  border-bottom: solid;
  padding-bottom: 20px;
}

.profile-right-col {
  flex-basis: 10% ;
  flex-grow: 1;
  border-bottom: solid;
  padding-bottom: 20px;
}

.profile-favourites {
  margin-top: 20px;
  flex-basis: 100%;
  
}

.avatar {
  text-align: center;
}

.username {
  margin-left: 100px;
}

.user-info {
  display:flex;
  flex-wrap: wrap;
}

.info-box {
  display: flex;
  flex-basis: 100%;
}

.user-list-links {
  display: flex;
  text-align: center;
}

button.user-list-links {
  flex-grow: 1;
  flex-basis: 33%;
  margin-right: 10px;

}

button.user-list-links:last-child {
  margin-right: 0px;
}



/*Style for login page*/

div.login-form-wrapper {
  margin: 50px;
  padding: 20px;
}

p.login-error-msg {
  color: #E00;
  font-size: ;
}